td, body {
color:#000000;
font-family:Tahoma,Arial,Helvetica;
font-size:11px;
}
a {
color:#000000;
font-weight:normal;
text-decoration:none;
}
a:hover {
color:#FF4716;
font-weight:normal;
}
a:active {
color:#000000;
font-weight:normal;
text-decoration:none;
}
.calendar {
background:#C8D0D4 none repeat scroll 0 0;
border-color:#FFFFFF #000000 #000000 #FFFFFF;
border-style:solid;
border-width:2px;
color:#000000;
cursor:default;
display:none;
font-family:tahoma,verdana,sans-serif;
font-size:11px;
position:relative;
}
.calendar table {
background:#C8D0D4 none repeat scroll 0 0;
border-color:#000000 #FFFFFF #FFFFFF #000000;
border-style:solid;
border-width:1px;
color:#000000;
cursor:default;
font-family:tahoma,verdana,sans-serif;
font-size:11px;
}
.calendar .button {
border-color:#FFFFFF #000000 #000000 #FFFFFF;
border-style:solid;
border-width:1px;
padding:1px;
text-align:center;
}
.calendar .nav {
background:transparent url(menuarrow.gif) no-repeat scroll 100% 100%;
}
.calendar thead .title {
background:#788084 none repeat scroll 0 0;
border:1px solid #000000;
color:#FFFFFF;
font-weight:bold;
padding:1px;
text-align:center;
}
.calendar thead .headrow {
}
.calendar thead .daynames {
}
.calendar thead .name {
background:#E8F0F4 none repeat scroll 0 0;
border-bottom:1px solid #000000;
padding:2px;
text-align:center;
}
.calendar thead .weekend {
color:#FF0000;
}
.calendar thead .hilite {
background-color:#D8E0E4;
border-color:#FFFFFF #000000 #000000 #FFFFFF;
border-style:solid;
border-width:2px;
padding:0;
}
.calendar thead .active {
background-color:#B8C0C4;
border-color:#000000 #FFFFFF #FFFFFF #000000;
border-style:solid;
border-width:1px;
padding:2px 0 0 2px;
}
.calendar tbody .day {
padding:2px 4px 2px 2px;
text-align:right;
width:2em;
}
.calendar tbody .day.othermonth {
color:#AAAAAA;
font-size:80%;
}
.calendar tbody .day.othermonth.oweekend {
color:#FFAAAA;
}
.calendar table .wn {
background:#E8F4F0 none repeat scroll 0 0;
border-right:1px solid #000000;
padding:2px 3px 2px 2px;
}
.calendar tbody .rowhilite td {
background:#D8E4E0 none repeat scroll 0 0;
}
.calendar tbody .rowhilite td.wn {
background:#C8D4D0 none repeat scroll 0 0;
}
.calendar tbody td.hilite {
border-color:#FFFFFF #000000 #000000 #FFFFFF;
border-style:solid;
border-width:1px;
padding:1px 3px 1px 1px;
}
.calendar tbody td.active {
border-color:#000000 #FFFFFF #FFFFFF #000000;
border-style:solid;
border-width:1px;
padding:2px 2px 0;
}
.calendar tbody td.selected {
background:#D8E0E4 none repeat scroll 0 0;
border-color:#000000 #FFFFFF #FFFFFF #000000;
border-style:solid;
border-width:1px;
font-weight:bold;
padding:2px 2px 0;
}
.calendar tbody td.weekend {
color:#FF0000;
}
.calendar tbody td.today {
color:#0000FF;
font-weight:bold;
}
.calendar tbody .disabled {
color:#999999;
}
.calendar tbody .emptycell {
visibility:hidden;
}
.calendar tbody .emptyrow {
display:none;
}
.calendar tfoot .footrow {
}
.calendar tfoot .ttip {
background:#788084 none repeat scroll 0 0;
border:1px solid #000000;
color:#FFFFFF;
padding:1px;
text-align:center;
}
.calendar tfoot .hilite {
background:#D8E0E4 none repeat scroll 0 0;
border-color:#FFFFFF #000000 #000000 #FFFFFF;
border-style:solid;
border-width:1px;
padding:1px;
}
.calendar tfoot .active {
border-color:#000000 #FFFFFF #FFFFFF #000000;
border-style:solid;
border-width:1px;
padding:2px 0 0 2px;
}
.calendar .combo {
background:#D8E0E4 none repeat scroll 0 0;
border-color:#FFFFFF #000000 #000000 #FFFFFF;
border-style:solid;
border-width:1px;
cursor:default;
display:none;
font-size:90%;
left:0;
padding:1px;
position:absolute;
top:0;
width:4em;
z-index:100;
}
.calendar .combo .label, .calendar .combo .label-IEfix {
padding:1px;
text-align:center;
}
.calendar .combo .label-IEfix {
width:4em;
}
.calendar .combo .active {
background:#C8D0D4 none repeat scroll 0 0;
border-color:#000000 #FFFFFF #FFFFFF #000000;
border-style:solid;
border-width:1px;
padding:0;
}
.calendar .combo .hilite {
background:#004488 none repeat scroll 0 0;
color:#AAEEFF;
}
.calendar td.time {
background-color:#E8F0F4;
border-top:1px solid #000000;
padding:1px 0;
text-align:center;
}
.calendar td.time .hour, .calendar td.time .minute, .calendar td.time .ampm {
background-color:#FFFFFF;
border:1px solid #888899;
font-weight:bold;
padding:0 3px 0 4px;
}
.calendar td.time .ampm {
text-align:center;
}
.calendar td.time .colon {
font-weight:bold;
padding:0 2px 0 3px;
}
.calendar td.time span.hilite {
background-color:#666677;
border-color:#000000;
color:#FFFFFF;
}
.calendar td.time span.active {
background-color:#000000;
border-color:#FF0000;
color:#00FF00;
}
.date {
color:#777777;
font-family:Tahoma,Verdana,Arial,Helvetica,sans-serif;
font-size:11px;
font-weight:normal;
text-align:right;
vertical-align:bottom;
}
.label {
font-family:Tahoma,Verdana,Arial,Helvetica,sans-serif;
font-size:10px;
font-weight:bold;
height:20px;
text-transform:uppercase;
vertical-align:bottom;
}
.buttonstyle {
background:#E9ECEF none repeat scroll 0 0;
border:1px solid #CCCCCC;
color:#666666;
font-size:11px;
font-weight:bold;
padding:4px;
}
.buttonsmall {
background-color:#F3F3F3;
background-position:-5px 50%;
background-repeat:no-repeat;
color:#000000;
cursor:pointer;
font-family:Tahoma,Verdana,Arial,Helvetica,sans-serif;
font-weight:normal;
height:24px;
margin:0;
width:70px;
}
.listbox {
-x-system-font:none;
background-color:#FAFAFA;
border:1px solid #CECECB;
color:#74869C;
font-family:verdana;
font-size:11px;
font-size-adjust:none;
font-stretch:normal;
font-style:normal;
font-variant:normal;
font-weight:bold;
height:20px;
line-height:normal;
padding:1px;
}
.textbox {
-x-system-font:none;
background-repeat:repeat-x;
border:1px solid #CECECB;
color:#4D5569;
font-family:Verdana,Arial,Helvetica,sans-serif;
font-size:13px;
font-size-adjust:none;
font-stretch:normal;
font-style:normal;
font-variant:normal;
font-weight:normal;
height:20px;
line-height:normal;
padding:1px;
}
.labelForm {
color:#777777;
font-family:Tahoma,Verdana,Arial,Helvetica,sans-serif;
font-size:13px;
font-style:normal;
font-variant:normal;
font-weight:bold;
text-transform:none;
}
.input {
background-color:#F3F3F3;
border:1px solid #AAAAAA;
color:#4D5569;
font-family:Tahoma,Verdana,Arial,Helvetica,sans-serif;
font-size:11px;
font-weight:normal;
width:150px;
}
body {
margin:0;
}
.explorer {
border-color:#000000;
border-style:solid;
border-width:0 1px 0 0;
}
.tabMenu {
border-color:#7F7F7F;
border-style:solid;
border-width:1px 0 0;
}
.tabTop {
border-color:#7F7F7F;
border-style:solid;
border-width:0 1px;
}
.tabNone {
border:0 solid #7F7F7F;
}
.tabDown {
border-color:#FFFFFF #7F7F7F #7F7F7F;
border-style:solid;
border-width:1px;
}
.tabBody {
border:1px solid #D9D9D9;
}
.textBold {
color:#606060;
font-family:Verdana,Arial,Helvetica,sans-serif;
font-size:11px;
font-style:normal;
font-variant:normal;
font-weight:bold;
line-height:normal;
}
.time {
color:#AAA9A7;
font-family:Tahoma,Verdana,Arial,Helvetica,sans-serif;
font-size:11px;
font-style:normal;
font-variant:normal;
font-weight:bold;
line-height:normal;
text-transform:none;
}
.text {
color:#000000;
font-family:Tahoma,Verdana,Arial,Helvetica,sans-serif;
font-size:11px;
font-style:normal;
font-variant:normal;
font-weight:normal;
line-height:normal;
text-transform:none;
}
.textDown {
color:#999999;
font-family:Tahoma,Verdana,Arial,Helvetica,sans-serif;
font-size:11px;
font-style:normal;
font-variant:normal;
font-weight:bold;
line-height:normal;
text-transform:none;
}
.link {
font-family:Tahoma,Verdana,Arial,Helvetica,sans-serif;
font-size:11px;
font-style:normal;
font-variant:normal;
font-weight:normal;
line-height:normal;
text-transform:none;
}
.linkMenu {
color:#000000;
font-family:Tahoma,Verdana,Arial,Helvetica,sans-serif;
font-size:12px;
font-style:normal;
font-variant:normal;
font-weight:normal;
line-height:normal;
text-transform:none;
}
.copy {
color:#EEEEEE;
font-family:Tahoma,Verdana,Arial,Helvetica,sans-serif;
font-size:11px;
font-style:normal;
font-variant:normal;
font-weight:normal;
line-height:18px;
text-transform:none;
}
.warning {
color:#FF0000;
font-family:Tahoma,Verdana,Arial,Helvetica,sans-serif;
font-size:12px;
font-weight:bold;
}
.timeWar {
color:#FF0000;
font-family:Tahoma,Verdana,Arial,Helvetica,sans-serif;
font-size:12px;
font-weight:bold;
}
.big {
color:#6B1818;
font-family:Tahoma,Verdana,Arial,Helvetica,sans-serif;
font-size:50px;
font-style:normal;
font-variant:normal;
font-weight:bold;
line-height:normal;
text-transform:uppercase;
}
.dept {
color:#666666;
font-family:Tahoma,Verdana,Arial,Helvetica,sans-serif;
font-size:11px;
font-variant:normal;
font-weight:bold;
text-transform:none;
}
.tableTxt {
color:#000000;
font-family:Verdana,Arial,Helvetica,sans-serif;
font-size:12px;
font-variant:normal;
font-weight:normal;
text-transform:none;
}
.welcome {
color:#7C96B1;
font-family:Tahoma,Verdana,Arial,Helvetica,sans-serif;
font-size:14px;
font-style:normal;
font-variant:normal;
font-weight:normal;
text-transform:none;
}
.title {
background-color:#EBE1C6;
color:#660000;
font-family:Tahoma,Verdana,Arial,Helvetica,sans-serif;
font-size:10px;
font-style:normal;
font-variant:normal;
font-weight:bold;
padding-left:10px;
text-transform:uppercase;
vertical-align:middle;
}
.titleMod {
color:#FF6633;
font-family:Tahoma,Verdana,Arial,Helvetica,sans-serif;
font-size:14px;
font-style:normal;
font-variant:normal;
font-weight:bold;
text-transform:none;
}
.titleWhite {
color:#FFFFFF;
font-family:Tahoma,Verdana,Arial,Helvetica,sans-serif;
font-size:11px;
font-style:normal;
font-variant:normal;
font-weight:bold;
text-transform:none;
}
.textFont {
color:#333333;
font-family:Verdana,Arial,Helvetica,sans-serif;
font-size:11px;
font-style:normal;
font-variant:normal;
font-weight:normal;
line-height:normal;
text-transform:none;
}
.subFolders {
color:#808080;
font-size:10px;
font-style:normal;
font-variant:normal;
font-weight:normal;
line-height:normal;
}
.button {
background-color:#CCCCCC;
border:0 none;
color:black;
font-family:Arial,Hevlvetica,sans-serif;
font-size:12px;
font-weight:bold;
height:24px;
padding:0 5px;
text-align:center;
width:auto;
}
.inputbox {
background-color:#EEEEEE;
border:1px solid #CCCCCC;
padding:2px;
width:160px;
}
.tdborders {
background-color:#EEEEEE;
border-color:#D9D9D9;
border-style:solid;
border-width:0 1px 1px 0;
color:#333333;
font-family:Verdana,Arial,Helvetica,sans-serif;
font-size:11px;
font-style:normal;
font-variant:normal;
font-weight:normal;
height:25px;
line-height:normal;
text-transform:none;
}
.tdborders2 {
border-color:#D9D9D9;
border-style:solid;
border-width:0 1px 1px 0;
color:#333333;
font-family:Verdana,Arial,Helvetica,sans-serif;
font-size:11px;
font-style:normal;
font-variant:normal;
font-weight:normal;
height:25px;
line-height:normal;
text-transform:none;
}
.dayFont {
color:#000000;
font-family:Verdana,Arial,Helvetica,sans-serif;
font-size:13px;
font-style:normal;
font-variant:normal;
font-weight:bold;
line-height:normal;
text-transform:none;
}
.subHeading {
background-color:#EEEEEE;
border-bottom:1px solid #D9D9D9;
border-left:1px solid #D9D9D9;
border-top:1px solid #D9D9D9;
color:#FF7F00;
font-size:11px;
font-weight:normal;
height:30px;
}
.dynamicData {
border-bottom:1px solid #D9D9D9;
border-left:1px solid #D9D9D9;
height:30px;
}
.heading1 {
background-color:#FFFFFF;
border-bottom:0 solid #D9D9D9;
border-left:0 solid #D9D9D9;
border-top:0 solid #D9D9D9;
color:#FF7F00;
font-size:11px;
font-weight:normal;
height:30px;
}
.login {
background:#F1F3F5 none repeat scroll 0 0;
border:1px solid #CCCCCC;
margin-left:auto;
margin-right:auto;
margin-top:6em;
padding:15px;
width:429px;
}
.login h1 {
background:transparent url(../images/login_header.png) no-repeat scroll left top;
color:#333333;
font-size:1.5em;
height:50px;
margin:0;
padding:15px 4px 0 50px;
text-align:left;
}
.login p {
padding:0 1em;
}
.form-block {
background:#E9ECEF none repeat scroll 0 0;
border:1px solid #CCCCCC;
padding:15px 10px 10px;
}
.login-form {
float:right;
text-align:left;
width:60%;
}
.login-text {
float:left;
text-align:left;
width:40%;
}
.inputlabel {
font-weight:bold;
text-align:left;
}
.inputbox_1 {
border:1px solid #CCCCCC;
margin:0 0 1em;
width:150px;
}
.button_1 {
background:#E9ECEF none repeat scroll 0 0;
border:1px solid #CCCCCC;
color:#666666;
font-size:11px;
font-weight:bold;
padding:4px;
}
#wrapper {
border-width:0;
margin:0 auto;
padding:0;
}
.clr {
clear:both;
}
.ctr {
text-align:center;
}
.version {
font-size:0.8em;
}
.footer {
}
.message {
background:#F1F3F5 none repeat scroll 0 0;
border:1px solid #B22222;
color:#B22222;
font-size:13px;
font-weight:bold;
margin-top:10px;
padding:7px;
width:400px;
}
#header {
background:transparent url(../images/header_bg.png) repeat scroll 0 0;
border-bottom:4px solid #C64934;
}
body {
background-color:#FFFFFF;
color:#333333;
font-family:Arial,Helvetica,sans-serif;
font-size:11px;
margin:0;
padding:0;
}