.topicTable {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	color: #000000;
	text-decoration: none;
	margin: 1px;
	padding: 0.2px;
	width: auto;
	border: thin inset #000000;
	position: static;
}
.reportBody {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	margin: 0.1px;
	padding: 0.1px;
	height: auto;
	width: auto;
	border: thin solid #666666;
}
