.date	{
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color: #777777;
	text-align: right;
	vertical-align: bottom;
	font-weight: normal;
}
.label	{
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	height: 20px;
	font-weight: bold;
	vertical-align: bottom;
	text-transform: uppercase;
}

.labelForm {
        font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
        font-size: 13px;
        font-style: normal;
        font-weight: bold;
        font-variant: normal;
        color: #777777;
        text-transform: none;
}

.input	{
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif; 
	font-size:11px; 
	width: 150px; 
	font-weight: normal; 
	color: #658ADF;
	border: 1px solid #AAAAAA;
}

.list	{
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size:15px;
	width: 150px;
	font-weight: normal;
	color: #658ADF;
	border: 1px solid #AAAAAA;
}

.inputRep  {
        font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
        font-size:12px;
        width: 100px;
        font-weight: normal;
        color: #000000;
        border: 1px solid #AAAAAA;
}

body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
a:hover {
	color: #FBCF18;
	text-decoration: none;
}
a:link {
	color: #3163A2;
	text-decoration: none;
}
a:visited {
	color: #3163A2;
	text-decoration: none;	
}
a:active {
	color: #3163A2;
	text-decoration: none;
}
.explorer {
	border-top-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-right-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-top-style: solid;
	border-top-color: #000000;
	border-right-color: #000000;
	border-bottom-color: #000000;
	border-left-color: #000000;
	border-left-style: solid;	
}
.tabMenu {
	border-top-width: 1px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-right-width: 0px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-top-style: solid;
	border-left-style: solid;	
	border-top-color: #7f7f7f;
	border-right-color: #7f7f7f;
	border-bottom-color: #7f7f7f;
	border-left-color: #7f7f7f;
}
.tabTop {
	border-top-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 1px;
	border-right-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-top-style: solid;
	border-top-color: #7f7f7f;
	border-right-color: #7f7f7f;
	border-bottom-color: #7f7f7f;
	border-left-color: #7f7f7f;
	border-left-style: solid;
}
.tabNone {
	border-top-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-right-width: 0px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-top-style: solid;
	border-top-color: #7f7f7f;
	border-right-color: #7f7f7f;
	border-bottom-color: #7f7f7f;
	border-left-color: #7f7f7f;
	border-left-style: solid;
}
.tabDown {
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-top-style: solid;
	border-top-color: #ffffff;
	border-right-color: #7f7f7f;
	border-bottom-color: #7f7f7f;
	border-left-color: #7f7f7f;
	border-left-style: solid;
}
.tabBody {
        border-top-width: 1px;
        border-bottom-width: 1px;
        border-left-width: 1px;
        border-right-width: 1px;
        border-right-style: solid;
        border-bottom-style: solid;
        border-top-style: solid;
        border-top-color: #d9d9d9;
        border-right-color: #d9d9d9;
        border-bottom-color: #d9d9d9;
        border-left-color: #d9d9d9;
        border-left-style: solid;
}
.textBold {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
    text-transform: capitalize;
	color: #606060;
}
.time {
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	color: #AAA9A7;
}
.text {
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #000000;
}
.textDown {
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	color: #999999;
}
.link {
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
}
.linkMenu {
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #1D5683;
}
.copy {
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	line-height: 18px;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #EEEEEE;
}
.warning {
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FF0000;
}
.timeWar {
        font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
        font-size: 12px;
        font-weight: bold;
        color: #FF0000;
}
.big {
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: uppercase;
	color: #6B1818;
}
.dept {
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	color: #666666;
}
.tableTxt {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #000000;
}
.welcome {
        font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        color: #7C96b1;
        text-transform: none;
}
.title {
        font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
        font-size: 10px;
        font-style: normal;
        font-weight: bold;
        font-variant: normal;
        color: #3163A2;
        text-transform: uppercase;
}
.titleMod {
        font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: bold;
        font-variant: normal;
        color: #FF6633;
        text-transform: none;
}

.titleWhite {
        font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
        font-size: 11px;
        font-style: normal;
        font-weight: bold;
        font-variant: normal;
        color: #FFFFFF;
        text-transform: none;
}
