td, body {
   color: #ffffff;
   font-family: Tahoma, Arial, Helvetica;
   font-size: 11px
}
a {color:#006699; text-decoration:none; font-weight:bold;}
a:hover {color:#000000; text-decoration:none; font-weight:bold;}
a:active {color:#000000; text-decoration:none; font-weight:bold ;}